h2{
    font-style: italic;
    text-align:justify;
    color: rgba(230, 21, 21, 0.507);
    
}
img{
   border-style: double; 
   border-color: rgb(146, 97, 37);
}

.abcde{
    text-align: center;
    font-size: xx-large;
}
.http{
    font-style: italic;
    text-align:center;
    color: rgba(155, 49, 49, 0.507);
    font-size: 30px;

}
p{
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.coachb{

    color: rgb(211, 120, 2);
}

